# MCP9808 temperature sensor configuration options

# Copyright (c) 2016 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

menuconfig MY_I2C_MCP9808
	bool "MCP9808 temperature sensor"
	default y
	select I2C
	help
	  Enable driver for MCP9808 temperature sensor.
